{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author_card.username }}{% endblock %}
{% block content %}

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        {% include "includes/author_card.html" %}
      </div>
      <div class="col-md-9">                
        {% for post in page %}
          <!-- Начало блока с отдельным постом --> 
          {% include "includes/post_card.html" %}
        {% endfor %}

        {% if page.has_other_pages %}
          {% include "includes/paginator.html" with items=page paginator=paginator %}
        {% endif %}
      </div>
    </div>
  </main>

{% endblock %}